<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/list1.css' />
    <link rel='stylesheet' href='/stylesheets/zhangdan.css' />
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
<body class="login_bg">
 <header class="publicHeader">
 	 <h1>超市账单管理系统</h1>

    <div class="publicHeaderR">
        <p><span class="hours" style="margin-right: 5px;">下午好！</span><span style="color: #fff21b"><%-user %></span> , 欢迎你！</p>
        <a href="/relogin">退出</a>
    </div>
 </header>
 
  <section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
 </section>





  <section class="publicMian">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li ><a href="/billList">账单管理</a></li>
                <li><a href="/billList">供应商管理</a></li>
                <li><a href="/billList">用户管理</a></li>
                <li><a href="/reset">密码修改</a></li>
                <li><a href="/">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
       <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>账单管理页面 >>详细信息</span>
       </div>
       <div class="boxing">
       	 <p><strong>账单编号：</strong><span></span></p>
       	 <p><strong>商品名称：</strong><span></span></p>
       	 <p><strong>账单金额：</strong><span></span></p>
       	 <p><strong>产品供应商：</strong><span></span></p>
       	 <p><strong>是否付款：</strong><span></span></p>
       	 <input type="button" value="返回" class="backoff" onclick="location.href='/billList'"/>
       </div>
       
       
       	      
       </div>
    </div>
</section>
    

    
 </body>
 <script type="text/javascript">
 	var str=location.href
 	var str1=str.substring(28)
 	$.ajax({
 		type:"post",
 		url:"/users/check",
 		async:true,
 		data:{
 			price:str1
 		},
 		success:function(data){
 			console.log(data[0])
 			var arr=[]
// 			for(var i in data[0]){
// 		 $('.boxing span').eq(i).html()=data[0][i]
// 			}
      $.each(data[0],function(i,n){
      	   if(arr.indexOf(n)==-1){
      	   	arr.push(n)
      	   }
      })
      $.each(arr,function(i,n){
      	$('.boxing span').eq(i).css({'color':'red','font-size':'16px'}).html(n)
      })
 		}
 	});
// 	$('.boxing span').map(function(){
// 		$(this).html()
// 	})
// 	console.log(location.href)
// 	console.log(str1)
 </script>
  <script src="/javascripts/time.js" type="text/javascript" charset="utf-8"></script>
</html>
