<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="login_bg">
    <section class="loginBox">
    	<header class="loginHeader">
    		    <h1>超市账单管理系统</h1>
    	</header>
    	<section class="loginCont">
    		  <div class="loginForm">
    		  	<div class="inputbox" >
    		       <label for="user">用户名：</label>
    		       <input id="user" type="text" name="password" placeholder="请输入用户名" required/>
    		  	</div>
    		  	<div class="inputbox">
    		  		 <label for="pass">密码：</label>
               <input id="pass" type="password" name="password" placeholder="请输入密码" required/>
    		  	</div>
    		  	<!--<div><label class="getpass">手机获取验证码：</label><input type="text" style="height: 30px;"/></div>-->
    		  	<div class="subBtn">
              <input type="reset" value="注册" style="width: 200px;"/>
    		  	</div>
    		  </div>
    	</section>
    </section> 
    
  </body>
  <script type="text/javascript">
  	
  	$('.subBtn').click(function(){
	  		$.ajax({
	     	type:"post",
	     	url:"users/register",
	     	data:{
	     		user:$('#user').val(),
	     		pass:$('#pass').val()
	     	},
	     	async:true,
	     	success:function(data){
	     		if(data==1){
			  				alert('注册成功')
			  				location.href="/"
			  			}else if(data==2){
			  				alert('用户名已存在')
			  			}
			  			console.log(data)
	     	}
	     });
  	})
  </script>
</html>
